.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.action{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-subContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-logo {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--primary-dark);
    text-decoration: none;
    ;
}

.link {
    text-decoration: none;
    color: inherit;
    color: var(--primary-dark)
}

.humburger {
    display: none;
}

@media (max-width: 768px) {
    .navbarContainer {
        padding: 0.8rem 2rem;
    }

    .humburger {
        display: block;
    }

    .navbar-menu {
        flex-direction: column;
    }

    .navbar-subContainer {
        background: #ffffff;
        padding: 1rem;
        position: absolute;
        top: 5rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        align-items: start;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.7rem
    }

    .show {
        display: flex;
    }
}

@media (max-width: 540px) {
    .action {
        gap: 0.5rem;
    }

    .navbarContainer {
        display: flex;
        padding: 0.2rem 0.8rem;
    }
}