
.navabrContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-subContainer {
    display: flex;
    gap: 1rem;
}